:root {
    --deep-green: #1b5e20;
    --leaf-green: #4CAF50;
    --coconut-white: #F5F5F5;
    --sky-blue: #4FC3F7;
    --earth-brown: #6D4C41;
}
body {
    background: var(--coconut-white);
    color: #333;
    line-height: 1.6;
}

header,
footer {
    background: var(--deep-green);
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background: var(--deep-green);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--sky-blue);
}

.hero {
    background: url("kerala1.jpg") center/cover no-repeat;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow : 2px 2px 5px #000;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border:solid;
}
.section {
    padding: 50px 10%;
}

.cards {
    display: flex;          /* Makes cards in row */
    justify-content: center;
    gap: 20px;              /* Space between cards */
    flex-wrap: wrap;        /* Responsive */
}



.cards:hover{
     transform: translate(-10px);
}
.cards img {
    height: 180px;
    width: 180px;
}
.card {
    width: 300px;
    padding: 15px;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #1b5e20;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
}


.card.content {
    padding: 20px;
}

.btn {
    display: inline-block;
    background: var(--leaf-green);
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: var(--sky-blue);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th {
    background: var(--deep-green);
    color: #fff;
}

th,
td {
    padding: 10px;
    text-align: center;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

footer {
    margin-top: 40px;
}
